.mel {
    color:blue;
    font-size: 100px;
    text-align: center;
}
#yap {
    color:blue;
    font-size: larger;
    background-color: aqua;
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
#wow {
    color:red;
    font-size: 100px;
}
.bubbles {
    color:aqua;
}
#woo {
    color:aquamarine;
    font-size: larger;
}

 