doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby&apos;s Milestones Form
  link(rel='stylesheet' href='/css/style.css')
style.
  body {
  background-image: url('images/crawl.jpg'); /* Specify the path to your image */
  background-size: 500px; /* Cover the entire background */
  background-position: center; /* Position the background image at the center */
  /* You can also use additional background properties such as repeat, attachment, etc. */
  }
.container
  .milestones-form
    h1 Baby&apos;s Milestones Form
    form(action='/babymile' method='post')
      .form-group
        label(for='baby-name') Baby&apos;s Name:
        input#baby-name(type='text' name='babyName' required='')
      .form-group
        label(for='milestone') Milestone:
        input#milestone(type='text' name='milestone' required='')
      .form-group
        label(for='recommendation') Recommendation:
        textarea#recommendation(name='recommendation' rows='4')
      .form-group
        label(for='task-list') Task List:
        textarea#task-list(name='taskList' rows='4')
      .form-group
        label(for='support') Support:
        textarea#support(name='support' rows='4')
      .form-group
        button(type='submit') Submit
script(src='dummydata.js')
