doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Data Tracker
  style.
    body {
    background-image: url('images/wonderkids.jpg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Position the background image at the center */
    /* You can also use additional background properties such as repeat, attachment, etc. */
    }
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
    text-align: center;
    margin-bottom: 20px;
    }
    .form-container {
    margin-bottom: 20px;
    }
    .form-group {
    margin-bottom: 10px;
    }
    .form-group label {
    display: block;
    font-weight: bold;
    }
    .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    }
    .search-container {
    text-align: center;
    }
    .search-input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    }
    .search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }
.container
  h1 Baby Data Tracker
  .search-container
    input.search-input(type='text' placeholder="Search by Baby's Name")
    button.search-button Search
  .form-container
    form(action='/data' method='post')
      .form-group
        label(for='babyName') Baby&apos;s Name:
        input#babyName(type='text' name='babyName' required='')
      .form-group
        label(for='babyHealth') Baby&apos;s Health:
        input#babyHealth(type='text' name='babyHealth' required='')
      .form-group
        label(for='babyMilestones') Baby&apos;s Milestones:
        textarea#babyMilestones(name='babyMilestones' rows='4' required='')
      .form-group
        label(for='recommendations') Recommendations:
        textarea#recommendations(name='recommendations' rows='4' required='')
      button(type='submit') Submit
  // Placeholder for displaying search results
  #searchResults





