doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Welcome to Daystar Daycare
  link(rel='stylesheet' href='/css/styles.css')
 
.container
  .title DAYSTAR DAYCARE
  .card
    .welcome-text WELCOME TO DAYSTAR DAYCARE
    a.login-button(href='/about') GET STARTED
footer
  .footer-content(style='background-color: azure')
    .links(style='text-align: right; padding-right: 40px')
      a(href='https://twitter.com/MelvinMello4')
        i.fa.fa-twitter twitter
      |           |
      a(href='https://www.instagram.com/melvinmuzoora/')
        i.fa.fa-instagram Instagram
      |           |
      a(href='https://linkedin.com/in/muzoora-melvin-5631a32b6/')
        i.fa.fa-linkedin Linkedin
    p(style='text-align: center')
      | &copy; 2024 DAYSTAR DAYCARE All rights reserved.
