//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title LOGIN
//-         link(rel="stylesheet", href="/css/login.css")
//-     form(action="/login" method="POST")
//-       .field
//-         label(for='admin-email') Email:
//-         input#admin-username(type='email' name='adminEmail')
//-       .field
//-         label(for='admin-password') Password:
//-         input#admin-password(type='password' name='adminPassword')
        
//-         button.btn.btn-success(type='submit') Login