doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Parent&apos;s Page
link(rel="stylesheet", href="/css/Parent.css")
 
.container
  h1 Parent&apos;s Information
  form
    label(for='parentName') Parent&apos;s Name:
    input#parentName(type='text' name='parentName' required='')
    label(for='parentNumber') Parent&apos;s Number:
    input#parentNumber(type='text' name='parentNumber' required='')
    label(for='childName') Name of Parent&apos;s Child:
    input#childName(type='text' name='childName' required='')
    label(for='parentAddress') Parent&apos;s Address:
    input#parentAddress(type='text' name='parentAddress' required='')
    label(for='emergencyContact') Emergency Contact:
    input#emergencyContact(type='text' name='emergencyContact' required='')
    input(type='submit' value='Submit')
